SUBSYSTEM=="video4linux", ATTRS{serial}=="200901010001", ENV{ID_V4L_CAPABILITIES}==":capture:", MODE="0777", SYMLINK+="uvc_camera/camera_left"
SUBSYSTEM=="video4linux", ATTRS{serial}=="200901010002", ENV{ID_V4L_CAPABILITIES}==":capture:", MODE="0777", SYMLINK+="uvc_camera/camera_right"
SUBSYSTEM=="video4linux", ATTRS{serial}=="200901010003", ENV{ID_V4L_CAPABILITIES}==":capture:", MODE="0777", SYMLINK+="uvc_camera/camera_top"
